body{
    font-family:'montserrat';
    font-family: 'Montserrat', sans-serif;
}
#title{
    background-color: #ff4c68;
    color: white;
}
.container-fluid{
    padding: 3% 15% 7%;


}
h1{
    font-family: 'Muli', sans-serif;
    font-size: 3.5rem;
    line-height:1.5;
}
h2{
    font-family:'Comic Neue', cursive;
    font-size:3em;

}
h3{
    font-family:'Comic Neue', cursive;
    font-weight: bold;
}
p{
    color: #8f8f8f;
}
/* navigation bar */

.navbar{
    padding:0 0 4.5rem;
}
.nav-item{
    padding:0 18px;

}
.nav-link{
    font-size: 1.2rem;
}
.navbar-brand{
    
    font-size: 2.5rem;
    font-weight: bold;
}

/* Download buttons */

.download-button{    
    margin:5% 3% 5% 0 ;
}

/* title-image */

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* features */

#features{
    padding: 100px 0 100;
    background-color: white;
    position: relative; 
}


.feature-box{
    text-align: center;
    padding: 8%;
}
.icon{
    color: #ef8172;
    margin-bottom: 30px;
    
}
.icon:hover{
    color:#ff4c68;
}
/* testimonials */
#testimonials{
    
    text-align:center;
    background-color:#ef8172 ;
    color:#fff;
}
.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color:#ef8172 ;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width:15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%; 
}
/* pricing */
#pricing{
    padding:100px ;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
    
}
@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}
#cta{
    background-color:#ff4c68 ;
    text-align: center;
    padding: 5% 15%;
    color: white;
}
.headingh3{
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
}
#footer{
    text-align: center;
    padding: 5% 15%;

}
.footer-icons{
    margin: 10px 10px 30px;
}

